﻿@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Timeline | other | React Components in templates</title>

    <meta name="example-screenshot-selector" content="#root" />
    <link rel="stylesheet" href="./assets/css/bootstap.min.css">
    <link rel="stylesheet" href="./assets/style.css" />
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <link href="./assets/js/tab.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><span>Smart</span>product</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span id="datetime">Fri,Aug 7, 2020 10:54 AM </span>
                    </li>
                    <li class="nav-item border-left pr-0  ">
                        <a class="nav-link" href="#"><img src="./assets/img/notification.svg" alt=""></a>
                    </li>
                    <li class="nav-item pl-0 ">
                        <a class="nav-link " href="#"><img src="./assets/img/calendar.svg" alt=""></a>
                    </li>
                    <li class="nav-item border-left pr-0 ">
                        <a class="nav-link " href="#"><img src="./assets/img/idea.svg" alt=""></a>
                    </li>
                    <li class="nav-item dropdown  ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another </a>
                            <a class="dropdown-item" href="#">Something </a>
                        </div>
                    </li>
                </ul>
                <div class="my-2 my-sm-0" class="logo_img">
                    <img src="./assets/img/avient.png" class="logo_img" alt="Logo" />
                </div>
            </div>
        </nav>
    </div>
    <div class="searchbar">
        <div class="textfield">
            <div class="control">
                <span>Today</span>
                <img src="./assets/icons/icons-Calendar.svg" alt="Calendar">
                <span>16-22 Aug 2020</span>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Current Shift
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="manualList">
                <span>Manual List</span>
            </div>
        </div>

    </div>
    <div style="" id='root'></div>
    @*model layout*@
    <div id="item-modal" class="conatiner-fluid " style="position: fixed;top: 80px;right: 30px;background-color: white;display:none;">
        <div class="col-md-14">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Job Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Remark</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active contentText" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <p>
                        <img src="./assets/icons/icons-Product Code-XS.svg" alt=""> <span id="mod-fg-desc"></span>
                        <br />
                    <p style="padding-left: 26px" id="modal-fg-number"></p>
                    <p>
                        <img src="./assets/icons/icons-Customer-XS.svg" alt=""> <span id="mod-customer-name"></span>
                    </p>
                    <p>
                        <img src="./assets/icons/icons-Process Order-XS.svg" alt="Kiwi standing on oval"> PO# <span id="modal-ponum"></span>
                    </p>
                    <p>
                        <img src="./assets/icons/icons-Qty-XS.svg" alt=""> <span id="modal-ord-qty"></span> kg Throughput 180 kg/h
                    </p>
                    <p class="batches">
                        <img src="./assets/icons/icons-Batch-XS.svg" alt=""> 5 Batches
                        <span class="status"></span>
                        <span class="color">Grey</span>
                    </p>
                    <p>
                        <img src="./assets/icons/icons-calendar-XS.svg" alt=""> RM: <span id="modal-rm-date"></span> - FG: <span id="modal-fg-date"></span>
                    </p>
                    <br />
                    <h4 class="headerText">Extrusion Scheduled</h4>
                    <p>
                        <img src="./assets/icons/icons-calendar-XS.svg" alt=""> <span id="modal-start-date"></span>
                        <img src="./assets/icons/icons-Time-XS.svg" alt=""> <span id="modal-start-time"></span> to <span id="modal-end-time"></span>
                    </p>
                    <br class="break" />
                    <br class="break" />
                    <p>
                        <button style="bottom: 5px;" type="button" id="btnTabClose" class="btn btn-secondary">Close</button>
                    </p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div>
                        First-time production, Food Safety & FDA
                    </div>
                    Copmliance Product
                    <p>Medical Safety</p>
                </div>
            </div>
        </div>
    </div>

    <!--
    For ease of use, we are including the React, ReactDOM and Babel CDN
    builds to make getting started as fast as possible.

    In production, you'll want to instead look at using something
    like Gulp, Grunt or WebPack (my personal recommendation)
    to compile JSX into JavaScript. Also, check out:
    https://facebook.github.io/react/docs/tooling-integration.html
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    @*<script src="../../../standalone/umd/vis-timeline-graph2d.min.js"></script>
        <link href="../../../styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/js/tljs/vis-timeline-graph2d.min.js"></script>
    <link href="~/js/tljs/vis-timeline-graph2d.min.css" rel="stylesheet" />
    <script type="text/babel" src="~/js/r-js/modal-overlay.js">
    </script>
    <!--
    This is where you link to your React code. Can be .js or .jsx
    extension, doesn't really matter.
    -->
    <script type="text/babel">
        var timeline;

        // create groups
        //var numberOfGroups = 25;
        var groups = new vis.DataSet()
        @*for (var i = 0; i < numberOfGroups; i++) {
            groups.add({
            id: i,
            content: `Machine ${i}`
            })
            }*@

        // create items
        //var numberOfItems = 1000;
        var items = new vis.DataSet();
        //var itemsPerGroup = Math.round(numberOfItems / numberOfGroups);
        //for (var truck = 0; truck < numberOfGroups; truck++) {
        //var date = new Date();
        //for (var order = 0; order < itemsPerGroup; order++) {
        //date.setHours(date.getHours() + 4 * (Math.random() < 0.4));
        //date.setHours(date.getHours() + 4);
        //var start = new Date(date);
        //date.setHours(date.getHours() + 2 + Math.floor(Math.random() < 0.3));
        //var end = new Date(date);
        //items.add({
        //id: order + itemsPerGroup * truck,
        //group: truck,
        //start: start,
        //end: end,
        //content: 'PoNum ' + order
        //});
        //}
        //}
        var mindate = new Date(2019, 0, 1);
        fetch('/api/schedule/v1')
        .then(response => response.json())
        .then(data => {
        //console.log(data);
        (data || []).forEach((itm, idx) => {
        groups.add({
        id: itm.machinename,
        content: itm.machinename
        });
        (itm.batches || []).forEach((itm1, idx1) => {
        //console.log(`${idx}-${idx1}`);
        //console.log(parseInt(randomNumber(0, 4)));
        items.add({
        id: `${idx}-${idx1}`,
        group: itm.machinename,
        start: itm1.extrusion_start_date,
        end: itm1.extrusion_end_date,
        content: ``,
        statcolr: ['#f0ad4e', '#5cb85c', '#d9534f'][parseInt(randomNumber(0, 3))],
        ...itm1
        });
        });
        });
        });

        var GroupTemplate = React.createClass({
        render: function () {
        var { group } = this.props;
        return (
        <div>
            <img src="/img/icons-Extruder.svg" /> <br />
            <label>{group.content}</label>
        </div>)
        }
        });

        var ItemTemplate = React.createClass({
        render: function () {
        var { item } = this.props;
        //console.log(item.start.getHours().toString().padStart(2, '0') + ":" + item.start.getMinutes().toString().padStart(2, '0'));
        //console.log(item.statcolr);
        return (
        <div className={'card'} style={{borderLeft: '5px solid ' + item.statcolr}}>
            <div className={'card-body'}>
                <div className={'card-details'}>
                    <div className={'card-text-right'}>
                        <p>{item.finishedgoodnumber}</p>
                        <p>{item.ponumber}</p>
                    </div>
                    <div>
                        <p className={'fw-900'}>{item.finishedgooddescription}</p>
                        <p>{item.customername}</p>
                    </div>
                </div>
                <div className={'card-details card-text-even'}>
                    <p>{item.orderquantity} kg</p>
                    <p>Throughput 180 kg/h</p>
                    <p>5 Batches</p>
                    <p className={'status'}>
                        <span></span>Grey
                    </p>
                </div>
                <div className={'card-details'}>
                    <p>RM: {formatDDMMM(item.rawmaterialavailabledate)} - FG: {formatDDMMM(item.finishedgoodproductionenddate)}</p>
                </div>
                <div>
                    <p><b>{formatAMPM(item.start)} - {formatAMPM(item.end)} {timeDiffCalc(item.end, item.start)}</b></p>
                </div>
            </div>
        </div>)
        }
        });

        // specify options
        var options = {
        orientation: 'top',
        maxHeight: 630,
        start: new Date(),
        end: new Date(1000 * 60 * 60 * 24 + (new Date()).valueOf()),
        editable: false,
        showTooltips: true,
        verticalScroll: true,
        tooltip:{
        template: function (item, element, ddd) {
        //console.log(item);
        return `
        <div class='card' style='border-left: 5px solid ${item.statcolr}'>
            <div class='card-body'>
                <div class='card-details'>
                    <div class='card-text-right'>
                        <p>${item.finishedgoodnumber}</p>
                        <p>${item.ponumber}</p>
                    </div>
                    <div>
                        <p class='fw-900'>${item.finishedgooddescription}</p>
                        <p>${item.customername}</p>
                    </div>
                </div>
                <div class='card-details card-text-even'>
                    <p>${item.orderquantity} kg</p>
                    <p>Throughput 180 kg/h</p>
                    <p>5 Batches</p>
                    <p class='status'>
                        <span></span>Grey
                    </p>
                </div>
                <div class='card-details'>
                    <p>RM: ${formatDDMMM(item.rawmaterialavailabledate)} - FG: ${formatDDMMM(item.finishedgoodproductionenddate)}</p>
                </div>
                <div>
                    <p><b>${formatAMPM(item.start)} - ${formatAMPM(item.end)} <br />${timeDiffCalc(item.end, item.start)}</b></p>
                </div>
            </div>
        </div>`
        }
        },
        template: function (item, element) {
        if (!item) { return }
        ReactDOM.unmountComponentAtNode(element);
        return ReactDOM.render(
        <ItemTemplate item={item} />, element);
        },
        groupTemplate: function (group, element) {
        if (!group) { return }
        ReactDOM.unmountComponentAtNode(element);
        return ReactDOM.render(
        <GroupTemplate group={group} />, element);
        }
        }


        var VisTimeline = React.createClass({
        componentDidMount: function () {
        return initTimeline();
        },
        render: function () {
        return (
        <div>
            <div id="visualization"></div>
        </div>)
        }
        });

        function initTimeline() {
        var container = document.getElementById('visualization');
        timeline = new vis.Timeline(container, items, groups, options);
        timeline.on('select', function (props) {
        //alert('selected items: ' + props.items);
        //console.log(props);
        if (props && props.items && props.items[0]) {
        var itm = items.get(props.items[0])
        tabs.bind(itm);
        //console.log(itm);
        }
        });
        }
        ReactDOM.render(
        <VisTimeline />, document.getElementById('root'));
    </script>
    <link href="~/js/tljs/custom_tl.css" rel="stylesheet" />
    <link href="~/assets/js/tab.css" rel="stylesheet" />
    <script src="~/assets/js/tab.js"></script>
</body>
</html>
