.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    border-bottom: 4px solid #007bff;
}

.mb-3,
.my-3 {
    margin-bottom: 2rem !important;
}

.nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 35px;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
}

.tab-content {
    border-left: 5px solid #d9534f;
    height: 472px;
    padding-left: 30px;
    width: 336px;
}

.col-md-4 {
    border: 1px solid black;
    /*width: 336px;*/
    height: 625px;
}

.nav-pills .nav-link {
    border-radius: 0px;
}

a {
    color: black;
}

.headerText {
    font-size: 16px;
    font-weight: 400;
}

.contentText p {
    font-size: 14px;
}

.contentText p img {
    margin-right: 8px;
}

.batches {
    position: relative;
    padding: 0;
}

.batches .status {
    width: 10px;
    height: 10px;
    background: #cccccc;
    position: absolute;
    bottom: 6px;
    margin: auto;
    left: 100px;
}

.color {
    padding-left: 30px;
}

.br {
    border-bottom: 1px soid red;
}

.btn {
    position: absolute;
    bottom: 30px;
    left: 83px;
    width: 140px;
}


/*search bar*/

.searchbar {
    width: 100%;
    height: 55px;
    border: 1px solid #cccccc;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.btn {
    border-radius: 0;
}

.manualList span {
    color: #1c7cd5;
    float: right;
    margin-right: 64px;
    margin-top: 12px;
}

.textfield {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.control {
    display: flex;
    flex-flow: row;
    align-items: center;
}

    .control span {
        color: #1c7cd5;
    }

        .control span:nth-child(3) {
            color: black;
            font-weight: 700;
        }

    .control * {
        margin-right: 20px;
    }

.textfield .form-control {
    width: 512px;
    height: 40px;
    border-radius: 0px;
}

.textfield .btn {
    background: transparent;
    color: black;
}

.dropdown,
.dropup {
    margin-right: 56px;
}