// [color - variables]
// branding
$primary-mid-blue: #1F6AAF;
$primary-water-blue: #1C7CD5;
$primary-pale-red: #d9534f;
$primary-light-peach: #ead5d5;
$primary-boring-green: #5cb85c;
$primary-light-sage: #cbe3b6;
$primary-butterscotch: #f0ad4e;
// SECONDARY
$secondary-charcoal-grey: #373a3c;
$secondary-brown-grey: #999999;
$secondary-very-light-pink: #cccccc;
$secondary-ice-blue: #eceeef;
$secondary-charcoal-grey: #373a3c;
$black:#171717;
$white:#ffffff;
// Font Stack
$primary_font_family: Arial;
$bold-weight: 700;