@import "../abstracts/variables";
.navbar {
    background-color: $white !important;
    width: 100%;
    height: 64px;
    position: fixed;
    border-bottom: 1px solid $secondary-ice-blue;
    .navbar-brand {
        display: flex;
        align-items: center;
        .Logo {
            font-family: $primary_font_family;
            font-size: 28px;
            font-weight: $bold-weight;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.75;
            letter-spacing: normal;
            text-align: center;
            color: $black;
            padding-left: 40px;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding-right: 25px;
            .Moment {
                font-family: Arial;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: $black;
                padding-right: 20px;
            }
            .dropdown {
                width: 35px;
                height: 35px;
                border-radius: 20px;
                background-color: $secondary-brown-grey;
            }
            .dropdown-toggle {
                font-family: primary_font_family;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.70;
                letter-spacing: 0.16px;
                text-align: center;
                color: $white;
                &::after {
                    margin-left: 0.8em;
                    color: $secondary-brown-grey;
                }
            }
            .surface1 {
                width: 134.2px;
                height: 32px;
                object-fit: contain;
            }
        }
    }
}