.Navbar {
    width: 100%;
    height: 152px;
    padding-top: 62px;
    border: 1px solid #cccccc;
}

.manualList {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.manualList button {
    //  width: 100px;
    border-radius: 0;
    padding-left: 2px;
}

.currentShift .dropdown-toggle {
    background-color: white;
    border-color: black;
    color: black;
}

// .dropdown-toggle:hover,
// .dropdown-toggle:focus {
//     background-color: white;
// }
.currentShift .show>.btn-primary.dropdown-toggle {
    color: black;
    background-color: transparent;
    border-color: black;
    box-shadow: none;
}

.currentShift .btn-primary:focus,
.currentShift .btn-primary.focus {
    color: black;
    background-color: transparent;
    border-color: black;
    //  box-shadow: 0 0 0 0.2rem rgb(252 253 255 / 50%);
}

.manualList button:nth-child(2) {
    padding-right: 40px;
    padding-top: 12px;
    text-decoration: none;
    background-color: transparent;
    border-color: none;
}

.btn-link:hover {
    color: $primary-water-blue;
    text-decoration: none;
}

.form-inline .form-control {
    display: inline-block;
    width: 512px;
    vertical-align: middle;
    border-radius: 0;
    height: 40px;
}

.calendar {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 30px;
}

.calendar * {
    margin-right: 20px;
}

.currentShift {
    position: relative;
    left: 500px;
    widows: 200px;
}