﻿.vis-panel.vis-top {
    background-color: #eceeef;
}

.vis-item {
    /*border-color: orange;*/
    border: 1px solid grey;
    background-color: white;
}

.vis-item .vis-item-content {
    padding: 0px;
}

.vis-label {
    text-align: center;
}

/*resource styles*/

.vis-labelset {
    background-color: #cccccc;
}

.vis-item.vis-selected {
    background-color: white;
    border: 1.5px solid #810a81;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
    /*background: #bfbfbf85;*/
    background-image: linear-gradient(45deg, #c0d5e0 10%, #ffffff 10%, #ffffff 40%, #cce0ed 40%, #cce0ed 50%, #c0d5e0 50%, #c0d5e0 60%, #ffffff 60%, #ffffff 90%, #cce0ed 90%, #cce0ed 100%);
    background-size: 7.07px 7.07px;
}

.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
    color: black;
}

/*tab js*/

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: black;
    border-bottom: 4px solid #007bff;
}

.mb-3,
.my-3 {
    margin-bottom: 2rem !important;
}

.nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 35px;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: transparent;
}

.tab-content {
    border-left: 5px solid #d9534f;
    height: 472px;
    padding-left: 30px;
    width: 336px;
}

.col-md-4 {
    border: 1px solid black;
    /*width: 336px;*/
    height: 625px;
}

.nav-pills .nav-link {
    border-radius: 0px;
}

a {
    color: black;
}

.headerText {
    font-size: 16px;
    font-weight: 400;
}

.contentText p {
    font-size: 14px;
}

    .contentText p img {
        margin-right: 8px;
    }

.batches {
    position: relative;
    padding: 0;
}

    .batches .status {
        width: 10px;
        height: 10px;
        background: #cccccc;
        position: absolute;
        bottom: 6px;
        margin: auto;
        left: 100px;
    }

.color {
    padding-left: 30px;
}

.br {
    border-bottom: 1px soid red;
}

/*.btn {
    position: absolute;
    bottom: 30px;
    left: 83px;
    width: 140px;
}*/


/*search bar*/

.searchbar {
    width: 100%;
    height: 55px;
    border: 1px solid #cccccc;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.btn {
    border-radius: 0;
}

.manualList span {
    color: #1c7cd5;
    float: right;
    margin-right: 64px;
    margin-top: 12px;
}

.textfield {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.control {
    display: flex;
    flex-flow: row;
    align-items: center;
}

    .control span {
        color: #1c7cd5;
    }

        .control span:nth-child(3) {
            color: black;
            font-weight: 700;
        }

    .control * {
        margin-right: 20px;
    }

.textfield .form-control {
    width: 512px;
    height: 40px;
    border-radius: 0px;
}

.textfield .btn {
    background: transparent;
    color: black;
}

.dropdown,
.dropup {
    margin-right: 56px;
}

/*card command card css*/

.logo_img {
    height: auto;
    vertical-align: middle;
    border-style: none;
    width: 150px;
}

span {
    font-weight: bold;
}

.navbar {
    z-index: 999;
    height: 65px;
}

    .navbar .nav-item .nav-link {
        padding: 0;
    }

        .navbar .nav-item .nav-link img {
            width: 36px;
            height: 20px;
        }

.nav-item:first-child {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin: 0;
    padding-left: 500px;
    vertical-align: middle;
}

    .navbar-nav li {
        text-decoration: none;
        display: block;
        padding: 1em;
        text-align: center;
    }


/* ---side bar -- */

.sidenav {
    background-color: #222222;
    height: calc(100vh);
    width: 102px;
    position: fixed;
    display: flex;
    padding-top: 25px;
}

    .sidenav .nav {
        width: 100%;
    }

        .sidenav .nav .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            color: #ffffff;
            font-weight: 600;
            padding: 10px 0px;
        }

            .sidenav .nav .nav-link:hover,
            .sidenav .nav .active {
                background-color: #17a2b8;
            }

i {
    padding-bottom: 10px;
}

svg {
    width: 60px;
    height: 60px;
    fill: #fff;
}

/*card appoint*/
.card p {
    margin: 0;
}

.card {
    background-color: #ffffff;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid #cccccc;
    /*border-left: 5px solid #d9534f;*/
    border-right: 0px solid white;
    border-radius: 0;
    width: 372px;
}

    .card .card-body {
        padding: 8px;
    }

        .card .card-body .card-details {
            display: flex;
        }

            .card .card-body .card-details p {
                font-size: 12px;
                margin-bottom: 8px;
            }

            .card .card-body .card-details .fw-900 {
                font-weight: 900;
            }

            .card .card-body .card-details .card-text-right {
                padding-right: 21px;
            }

        .card .card-body .card-text-even p {
            padding-right: 21px;
        }

        .card .card-body .card-text-even .status {
            position: relative;
            padding: 0;
            padding-left: 14px;
        }

            .card .card-body .card-text-even .status span {
                top: 0;
                width: 10px;
                height: 10px;
                background: #cccccc;
                position: absolute;
                bottom: 0;
                margin: auto;
                left: 0;
            }
