﻿.vis-panel.vis-top {
    background-color: #eceeef;
}

.vis-item {
    /*border-color: orange;*/
    border: 1px solid grey;
    background-color: white;
}

.vis-item .vis-item-content {
    padding: 0px;
}

.vis-label {
    text-align: center;
}

/*resource styles*/

.vis-labelset {
    background-color: #cccccc;
}

.vis-item.vis-selected {
    background-color: white;
    border: 1.5px solid #810a81;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
    /*background: #bfbfbf85;*/
    background-image: linear-gradient(45deg, #c0d5e0 10%, #ffffff 10%, #ffffff 40%, #cce0ed 40%, #cce0ed 50%, #c0d5e0 50%, #c0d5e0 60%, #ffffff 60%, #ffffff 90%, #cce0ed 90%, #cce0ed 100%);
    background-size: 7.07px 7.07px;
}

.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
    color: black;
}