.logo_img {
    height: auto;
    vertical-align: middle;
    border-style: none;
    width: 150px;
}

span {
    font-weight: bold;
}

.navbar {
    z-index: 999;
    height: 65px;
}

    .navbar .nav-item .nav-link {
        padding: 0;
    }

        .navbar .nav-item .nav-link img {
            width: 36px;
            height: 20px;
        }

.nav-item:first-child {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin: 0;
    padding-left: 500px;
    vertical-align: middle;
}

    .navbar-nav li {
        text-decoration: none;
        display: block;
        padding: 1em;
        text-align: center;
    }


/* ---side bar -- */

.sidenav {
    background-color: #222222;
    height: calc(100vh);
    width: 102px;
    position: fixed;
    display: flex;
    padding-top: 25px;
}

    .sidenav .nav {
        width: 100%;
    }

        .sidenav .nav .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            color: #ffffff;
            font-weight: 600;
            padding: 10px 0px;
        }

            .sidenav .nav .nav-link:hover,
            .sidenav .nav .active {
                background-color: #17a2b8;
            }

i {
    padding-bottom: 10px;
}

svg {
    width: 60px;
    height: 60px;
    fill: #fff;
}

/*card appoint*/
.card p {
    margin: 0;
}

.card {
    background-color: #ffffff;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid #cccccc;
    /*border-left: 5px solid #d9534f;*/
    border-right: 0px solid white;
    border-radius: 0;
    width: 372px;
}

    .card .card-body {
        padding: 8px;
    }

        .card .card-body .card-details {
            display: flex;
        }

            .card .card-body .card-details p {
                font-size: 12px;
                margin-bottom: 8px;
            }

            .card .card-body .card-details .fw-900 {
                font-weight: 900;
            }

            .card .card-body .card-details .card-text-right {
                padding-right: 21px;
            }

        .card .card-body .card-text-even p {
            padding-right: 21px;
        }

        .card .card-body .card-text-even .status {
            position: relative;
            padding: 0;
            padding-left: 14px;
        }

            .card .card-body .card-text-even .status span {
                top: 0;
                width: 10px;
                height: 10px;
                background: #cccccc;
                position: absolute;
                bottom: 0;
                margin: auto;
                left: 0;
            }
